@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-200: hsl(148, 38%, 91%);
  --green-500: hsl(169, 83%, 30%);
  --green-600: hsl(169, 83%, 16%);
  --green-800: hsl(169, 84%, 15%);
  --red: hsl(0, 66%, 54%);

  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

html {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 450;
  color: var(--green-600);
}

input,
button,
textarea,
select {
  font: inherit;
}

label,
legend {
  font-size: 0.8em;
}

textarea {
  resize: vertical;
}

fieldset {
  border: none;
}

.textInput.error {
  box-shadow: 0px 0px 0px 0.8px var(--red);
}

.error-msg {
  font-size: 0.8em;
  margin-top: 0.2em;
  font-weight: 400;
  color: var(--red);
}

body {
  min-height: 100vh;
  background-color: var(--green-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.contact {
  position: relative;
  background-color: var(--white);
  max-width: 40em;
  padding: 2em;
  border-radius: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.head {
  color: var(--green-800);
}

.name {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
}

.email {
  margin-top: 1em;
}

.query {
  margin-top: 1em;
}

.query-options {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.radio,
.checkBox {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}

.radio input {
  margin-left: 0.5em;
  cursor: pointer;
}

.radio label {
  font-size: 0.9em;
  cursor: pointer;
}

.checkBox input,
.checkBox label {
  cursor: pointer;
}

.radio:focus,
.radio.active {
  background-color: var(--green-200);
  outline: 2px solid transparent;
  box-shadow: 0px 0px 1px 1px var(--green-500);
}

.message {
  margin-top: 1em;
}

.consent {
  margin-top: 1em;
}

.submit {
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
  padding: 0.7em;
  border: none;
  border-radius: 0.4em;
  background-color: var(--green-500);
  color: var(--white);
}

.submit:hover {
  background-color: var(--green-800);
}

.textInput,
.radio {
  width: 100%;
  padding: 0.6em 0.5em;
  border-radius: 0.4em;
  margin-top: 0.3em;
  border: 1px solid var(--grey-500);
  color: var(--green-800);
  font-size: 0.9em;
}

.textInput:focus,
.textInput:active {
  outline: 2px solid transparent;
  box-shadow: 0px 0px 1px 1px var(--green-500);
}

.success {
  position: absolute;
  top: -10%;
  right: 5%;
  margin: 0 auto;
  background-color: var(--grey-900);
  max-width: 20em;
  padding: 1em;
  border-radius: 0.6em;
  margin-top: 2em;
  z-index: 10;
}

.success .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  color: var(--green-200);
}

.success .title img {
  width: 1em;
  height: auto;
}

.success-head {
  font-size: 0.9em;
}

.success-msg {
  color: var(--grey-500);
  margin-top: 0.6em;
  font-size: 0.7em;
}

.hide {
  display: none;
}

@media screen and (max-width: 620px) {
  .name {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 1em;
  }
  .query-options {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  .success {
    right: -9%;
    max-width: 11em;
  }

  .success-head {
    font-size: 0.8em;
  }

  .success-msg {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 320px) {
  .success {
    right: -10%;
    max-width: 9em;
  }
}
